/* ========================================
   MAIN CSS - Importação de Todos os Módulos
======================================== */

@import url('./01-variables.css');
@import url('./02-reset.css');
@import url('./03-base.css');
@import url('./04-components.css');
@import url('./05-sections.css');
@import url('./06-animations.css');
@import url('./07-responsive.css');
